<div class="row text-center">
  <div class="col">
    <h1>Proposals</h1>
    <p>
      This is where proposals will eventually show up from a Rails app
    </p>
  </div>
</div>
<div class="row d-flex">
  <div *ngFor="let proposal of proposals" class="col-lg-6">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ proposal.customer }}</h5>
        <p class="card-text">{{ proposal.tools }}</p>
        <p class="card-text">Expected to work for {{ proposal.estimated_hours }} with weeks to complete of {{ proposal.weeks_to_complete }}</p>
        <p class="card-text">Cost is {{ proposal.estimated_hours * proposal.hourly_rate | currency:"$" }}</p>
        <a href="{{ proposal.portfolio_url }}" class="card-link">Portfolio</a>
        <a href="mailto:{{ proposal.client_email }}" class="card-link">Email {{ proposal.customer }}</a>
      </div>
      <div class="card-body">
        <a routerLink="/proposal/{{ proposal.id }}" class="btn btn-primary">Show</a>
      </div>
      <div class="card-footer text-muted">
        Weeks to complete {{ proposal.weeks_to_complete }}
      </div>
    </div>
  </div>
</div>
