<div class="row text-center">
  <div class="col">
    <h1>Documents</h1>
    <p>
      This is where documents will eventually show up from a Rails app
    </p>
  </div>
</div>
<div class="row d-flex">
  <div *ngFor="let document of documents" class="col-lg-4 col-sm-6">
    <div class="card bg-light mb-3">
      <img src="{{ document.image_url }}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ document.title }}</h5>
        <p class="card-text"> {{ document.description }}</p>
      </div>
      <div class="card-body">
        <a href=" {{ document.file_url }}" class="card-link">Download File</a>
      </div>
      <div class="card-footer text-muted">
        Updated at {{ document.updated_at }}
     </div>
    </div>
  </div>
</div>
